
.add-post-potion > p {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0.8rem;
}

.add-post-potion .welcome-title{
    font-weight: bold;
    padding-top: 2rem;
    color: rgb(44, 44, 44);
}

.sell-something {
    width: 300px;
    margin: 1rem auto;
}

.sell-something .option-title{
    align-items: center;
}
.sell-something .option-title p{
    margin: 0.8rem;
    font-size: 1em;
    color: rgb(44, 44, 44);
    font-weight: bold;
}
.sell-something .option-title i {
    margin-left: 0.8rem;
    color: rgb(4, 83, 4);
}

.sell-something .potion {
    align-items: center;
    justify-content: space-between;
}
.sell-something .potion i {
    margin-right: 1rem;
}
.sell-something .potion a {
    margin: 0.8rem;
    font-size: 0.95em;
    text-decoration: none;
}

.post-info > a {
    font-size: 0.7em;
    text-decoration: none;
}

.category-model .modal-body ul {
    padding: 0;
}
.category-model .modal-body ul li {
    list-style: none;
    padding-bottom: 0.8rem;
    padding-top: 0.4rem;
}

.category-model .modal-body ul li a {
    text-decoration: none;
}
.category-model .modal-header .sub-title {
    font-weight: normal;
    margin-left: 0;
}
.category-model .location-li {
    font-size: 1.25em;
}


/* --------------------------------------- post --------------------------------------- */


.aria-01, .aria-01 .right,  .aria-01 .right > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aria-01 .left > p {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    color: rgb(43, 43, 43);
}

.aria-01 .right > div p {
    font-size: 0.95em;
    font-weight: bold;
    margin: 0 0.6rem;
    color: rgb(43, 43, 43);
}
.aria-01 .right > div i {
    margin-left: 1.5rem;
    color: #019267;
}
.aria-01 .right > div a {
    font-size: 0.8em;
    text-decoration: none;
}


/* --------------------------------------- post add form --------------------------------------- */


.top-info {
    text-align: right;
    padding: 0.5rem 0;
}
.top-info a{
    font-size: 0.8em;
    text-decoration: none;
    width: 100%;
}

.label {
    font-size: 0.8em;
    color: gray;
    margin-bottom: 0.2rem;
}
.checkbox-label {
    font-size: 0.92em;
    color: rgb(43, 43, 43);
}
.form-error {
    font-size: 0.8em;
    color: crimson;
}

.sub-title {
    font-size: 1.1em;
    font-weight: bold;
    color: rgb(43, 43, 43);
    margin: 1rem 0 0.5rem 0;
}

.sub-title > i {
    margin-left: 0.4rem;
    color: gray;
    border: 1px solid gray;
    width: 18px;
    height: 18px;
    padding: 0.15rem;
    border-radius: 100px;
    font-size: 0.85em;
}
.sub-title > i:hover {
    cursor: pointer;
}

.input-item .name, .input-item .email {
    font-size: 0.9em;
    text-transform: capitalize;
    color: rgb(43, 43, 43);
}
.input-item .email {
    text-transform: lowercase;
}